# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
android/app/key.properties
output_upload_certificate.pem
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
*.bak
*.swift
macos/Flutter/GeneratedPluginRegistrant.swift
/android/app/.cxx
/test/data/audio
*.cc
*.cmake
*.swift
*.cc
*.cmake
*.swift
*.cc
*.swift
*.cmake
*.cmake
*.swift
*.cc
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
*.cmake
/test/data/audiolearn
/test/data/audio_
/test/data/audio__
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
